:root {
    --background-black: black;
    --background-dark: rgb(35, 37, 37);
    --dark-gray: rgba(20, 22, 22, 255);
    --font-color: white;
    --font-hover-color: rgb(255, 197, 53);
    --yellow-button-color: #ffc535;
    --yellow-button-hover-color: #ffa700;
    --purple-button-color: #806eff;
    --purple-button-dark-color: #551a8b;
    --article-background: rgb(18, 19, 19);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background-black);
    /* max-width: 1600px;
    min-width: 320px; */
    margin: auto;
}

.container {
    max-width: 1600px;
    min-width: 320px;
}

.hero-wrap, section {
    padding-bottom: 6.875rem;
}

h2 {
    font-size: 2.375rem;
}

h1, h2 {
    font-weight: 900;
}

h1, h2, h3 {
    text-align: center;
    color: var(--font-color);
}

.top-head {
    align-items: center;
    background-color: var(--dark-gray);
    display: none;
    justify-content: space-between;
    padding: 0 20%;
    transition: all 1s ease-out;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.social-item {
    width: 32px;
    height: 32px;
}

.social-item::marker {
    display: none;
    color: transparent;
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: color .2s ease-out;
}

a:hover {
    color: var(--font-hover-color);
}

.button {
    border: 1px solid;
    border-radius: 27px;
    padding: 0.625rem 1rem;
    min-width: 10rem;
    text-align: center;
    min-width: 13rem;
    margin: 1rem 1rem;
    min-height: 3rem;
}

.button-yellow {
    border-color: var(--yellow-button-color);
    background-color: var(--yellow-button-color);
    transition: color .2s ease-out;
    box-shadow: 0 10px 23.8px 1.2px rgb(255 197 53 / 30%);
}

.button-yellow:hover {
    color: white;
    background-color: var(--yellow-button-hover-color);
}

.button-yellow:active {
    background-image: linear-gradient( 90deg, var(--yellow-button-color), var(--background-dark));
}

.button-purple {
    border-color: var(--purple-button-color);
    background-color: var(--background-black);
    transition: color .2s ease-out;
}

.button-purple:hover {
    background-color: var(--purple-button-color);
}

.button-purple:active {
    background-image: linear-gradient( 90deg, var(--purple-button-color), var(--background-dark));
}

.social-logo {
    fill: var(--purple-button-color);
    transition: color .2s ease-out;
    width: 32px;
    height: 32px;
}

.social-logo:hover {
    fill: var(--purple-button-dark-color);
}

.nav {
    padding: 0;
}

.menu {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol, ul {
    padding-left: 0rem;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
    color: transparent;
}

.navbar-collapse {
    flex-grow: unset;
}

.nav-item {
    padding: 1rem 0;
}

footer {
    background-color: var(--dark-gray);
    text-align: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer .social-item {
    margin: 0 1rem
}

footer img {
    margin: auto;
}

.footer-bottom {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
}

.footer-bottom * {
    padding: .2rem 1rem;
    color: var(--yellow-button-color);
    font-weight: bold;
}

.footer-top {
    display: flex;
    flex-direction: column;
    color: var(--font-color);
}

.footer-top div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.footer-top div * {
    padding: 1rem 1rem;
}

.footer-top * {
    padding: 1rem 0;
    font-weight: bolder;
}

input, select {
    border-radius: 1.5625rem;
    border: 1px;
    min-height: 3rem;
    padding: 1rem 3rem;
    outline: none;
    margin: 1rem 1rem;
    box-shadow: 1px 6px 5px -5px black;
    transition: background-color .2s ease-in-out;
}

input:focus {
    border: 6px;
    box-shadow: 0 0 0 1pt var(--article-background);
}

.input-yellow {
    border-color: var(--background-dark);
    background-color: rgb(255, 208, 92);
    color: black;
}

.input-yellow:focus {
    background-color: var(--yellow-button-hover-color);
    border-color: var(--article-background);
}

.submit-dark {
    border-color: var(--background-dark);
    background: var(--dark-gray);
    color: var(--font-color);
}

.submit-dark:hover {
    background: linear-gradient(90deg, black, var(--dark-gray))
}

.submit-dark:focus {
    background: linear-gradient( 270deg, gray, black);
}

.input-dark {
    border-color: var(--background-dark);
    background-color: var(--background-dark);
    color: var(--font-color);
    box-shadow: 0 0 1pt 0 var(--font-color);
}

.input-dark:focus {
    background-color: var(--dark-gray);
    border-color: var(--article-background);
    box-shadow: 0 0 0 1pt var(--font-color);
}

.submit-yellow {
    border-color: var(--yellow-button-hover-color);
    background: var(--yellow-button-color);
    color: var(--font-color);
    transition: color .2s ease-out;
    box-shadow: 0 10px 23.8px 1.2px rgb(255 197 53 / 30%);
}

.submit-yellow:hover {
    background: linear-gradient( 270deg, var(--yellow-button-color), var(--yellow-button-hover-color));
}

.submit-yellow:focus {
    background: linear-gradient( 90deg, var(--yellow-button-color), var(--background-dark));
}

.dark-select {
    background-color: var(--background-dark);
    color: #4d6167;
    box-shadow: 0 0 1pt 0 var(--font-color);
}

.dark-select:hover {
    box-shadow: 0 0 0 1pt var(--font-color);
}

@media (min-width: 768px) {
    .footer-top div {
        flex-direction: row;
    }
    .footer-bottom {
        flex-direction: row;
    }
}

@media (min-width: 992px) {
    .mobile-item {
        display: none;
    }
    .top-head {
        display: flex;
        transition: all 1s ease-out;
    }
    nav {
        padding: 0 20%;
    }
    .menu {
        min-width: 24rem;
    }
}