:root {
    --background-black: black;
    --dark-gray: rgba(20, 22, 22, 255);
    --font-color: white;
    --font-hover-color: rgb(255, 197, 53);
    --yellow-button-color: #ffc535;
    --yellow-button-hover-color: #ffa700;
    --purple-button-color: #806eff;
    --purple-button-dark-color: #551a8b;
    --article-background: rgb(18, 19, 19);
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: var(--background-black);
    max-width: 1920px;
    min-width: 320px;
    margin: auto;
}

.hero-wrap, section {
    padding-bottom: 6.875rem;
}

h2 {
    font-size: 2.375rem;
}

h1, h2 {
    font-weight: 900;
}

h1, h2, h3 {
    text-align: center;
}

.top-head {
    align-items: center;
    background-color: var(--dark-gray);
    display: none;
    justify-content: space-between;
    padding: 0 20%;
    transition: all 1s ease-out;
}

nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.social-icons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
}

.social-item {
    width: 32px;
    height: 32px;
}

.social-item::marker {
    display: none;
    color: transparent;
}

a {
    color: var(--font-color);
    text-decoration: none;
    transition: color .2s ease-out;
}

a:hover {
    color: var(--font-hover-color);
}

.button {
    border: 1px solid;
    border-radius: 27px;
    padding: 0.625rem 1rem;
    min-width: 10rem;
    text-align: center;
    height: 3rem;
    min-width: 13rem;
}

.button-yellow {
    border-color: var(--yellow-button-color);
    background-color: var(--yellow-button-color);
    transition: color .2s ease-out;
    box-shadow: 0 10px 23.8px 1.2px rgb(255 197 53 / 30%);
}

.button-yellow:hover {
    color: white;
    background-color: var(--yellow-button-hover-color);
}

.button-purple {
    border-color: var(--purple-button-color);
    background-color: var(--background-black);
    transition: color .2s ease-out;
}

.button-purple:hover {
    background-color: var(--purple-button-color);
}

.social-logo {
    fill: var(--purple-button-color);
    transition: color .2s ease-out;
    width: 32px;
    height: 32px;
}

.social-logo:hover {
    fill: var(--purple-button-dark-color);
}

.container {
    max-width: 100%;
    margin: auto;
}

.nav {
    padding: 0;
}

.menu {
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol, ul {
    padding-left: 0rem;
}

.navbar-dark .navbar-toggler {
    border-color: transparent;
    color: transparent;
}

.navbar-collapse {
    flex-grow: unset;
}

.nav-item {
    padding: 1rem 0;
}

@media (min-width: 992px) {
    .mobile-item {
        display: none;
    }
    .top-head {
        display: flex;
        transition: all 1s ease-out;
    }
    nav {
        padding: 0 20%;
    }
    .menu {
        min-width: 24rem;
    }
}