@import url(common.css);
h2 {
    color: var(--font-color);
}

p {
    color: var(--font-color);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 1rem;
    background: linear-gradient( 180deg, rgba(0, 0, 0, 0.31) 0%, rgb(1, 1, 1) 100%);
}

.hero-content img {
    width: 100%;
    min-width: 16rem;
    max-width: 80%;
}

.hero-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero-button a {
    margin: 1rem 2rem;
    width: 60%;
}

.hero-content p {
    text-align: center;
}

.hero-item {
    background: repeat-x url(../img/sherlock.png) 100%;
}

.card {
    background-color: var(--article-background);
    text-align: center;
    padding: 1.2rem;
}

.card-box {
    margin: 2rem 0;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 0 1rem;
}

h3 {
    text-align: left;
    color: var(--font-color)
}

.card-icon-wrap div {
    width: 5rem;
    color: var(--yellow-button-color);
    margin: auto;
}

.card-icon-wrap svg {
    width: 100%;
}

.card-icon-wrap p {
    max-width: 13rem;
    margin: auto;
    padding-top: 1rem;
}

.carousel-inner {
    padding: 2rem 1rem;
}

.carousel-content {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.carousel-content * {
    margin: 1rem 0;
}

.carousel-content .button {
    margin: 1rem .5rem;
}

.carousel-content img {
    width: 100%;
}

.carousel-content p {
    min-height: 11rem;
}

.title-card {
    color: var(--yellow-button-color);
}

.statistic-box {
    padding: 0 4rem;
    margin-top: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.statistic-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistic-item span {
    color: var(--purple-button-color);
    font-size: 3rem;
    font-weight: 900;
    white-space: nowrap;
}

.statistic-item label {
    color: var(--font-color);
    text-align: center;
}

#gift-form {
    background-color: var(--yellow-button-color);
    padding-bottom: 0;
    padding: 3rem 1rem 8rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#gift-form h2, #gift-form p {
    color: black;
    text-align: center;
}

#gift-form p {
    font-size: 1.25rem;
    max-width: 40rem;
}

#gift-form form {
    display: flex;
    flex-direction: column;
    height: 10rem;
    justify-content: space-around;
    padding-top: 3rem;
}

h1 {
    visibility: hidden;
    position: absolute;
}

.about-title {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

#about-image {
    min-width: 100%;
}

#about-text {
    padding: 2rem;
    text-align: justify
}

.carousel-content .d-flex {
    flex-direction: column;
}

.soon-box {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.big-soon {
    padding: 0 1rem;
}

.small-soon {
    display: grid;
    grid-template-rows: 1fr 1fr;
    padding: 0 1rem;
    grid-gap: 2rem;
}

section h2 {
    margin-bottom: 2rem;
}

#murder-quest {
    background: center / cover no-repeat url(../img/murder-quest.png);
    position: relative;
    min-height: 660px;
}

#treasure-quest {
    background: center / cover no-repeat url(../img/treasure-quest.png);
    position: relative;
    min-height: 330px;
}

#dead-or-alive-quest {
    background: center / cover no-repeat url(../img/dead-or-alive-quest.png);
    position: relative;
    min-height: 330px;
}

.splitter {
    color: var(--yellow-button-color)
}

.caption-wrap {
    bottom: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.51);
    width: 100%;
    text-align: center;
    color: var(--font-color);
    font-size: 1.375rem;
    font-weight: bold;
    min-height: 75px;
    padding-top: 24px;
}

.book-flex {
    display: flex;
    flex-direction: column;
}

.map img {
    width: 100%;
}

.main-form {
    background-color: var(--yellow-button-color);
    padding: 1rem 1rem;
}

.main-form h2, .main-form p {
    color: black;
}

.main-form form {
    display: flex;
    flex-direction: column;
}

.book-flex div {
    margin: 1rem 0;
}

@media (min-width: 500px) {
    .statistic-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .carousel-content .d-flex {
        flex-direction: row;
    }
}

@media (min-width: 600px) {
    .carousel-content p {
        min-height: 7rem;
    }
}

@media (min-width: 768px) {
    .card-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .carousel-content {
        flex-direction: row-reverse;
    }
    #gift-form h2, #gift-form p {
        text-align: left;
    }
    .carousel-image {
        min-height: unset;
        min-width: 50%;
    }
    .carousel-text {
        width: 50%;
    }
    .carousel-content p {
        min-height: 8rem;
        padding-right: 3rem;
    }
    .carousel-inner {
        padding: 2rem 7rem;
    }
    #about-image {
        min-width: 50%;
    }
    .about-title {
        flex-direction: row;
    }
    .statistic-box {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
    }
    #gift-form {
        flex-direction: row;
        text-align: left;
        padding: 8rem 1rem;
    }
    #gift-form form {
        width: 50%;
        max-width: 30rem;
    }
    #gift-form div {
        max-width: 50%
    }
    #gift-form p {
        padding-right: 2rem;
    }
    .soon-box {
        grid-gap: 2rem;
        grid-template-rows: 1fr;
    }
    .small-soon {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
    }
    .book-flex {
        flex-direction: row;
    }
    .main-form {
        width: 50%;
        text-align: center;
        padding: 3rem;
    }
    .map {
        width: 50%;
    }
    .book-flex div {
        margin: 1rem 1rem;
    }
}

@media (min-width: 992px) {
    .hero-button {
        flex-direction: row;
    }
    .hero-button a {
        max-width: 16rem;
    }
    .card-box {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: none;
    }
    .card {
        max-width: 27rem;
    }
    .statistic-box {
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-top: 3rem;
    }
    .soon-box {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: unset;
        grid-gap: 0;
    }
    .small-soon {
        grid-template-rows: 1fr 1fr;
        grid-template-columns: unset;
    }
    #murder-quest {
        min-height: 690px;
    }
}

@media (min-width: 1180px) {
    .carousel-inner {
        padding: 2rem 10rem;
    }
}